@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "node_modules/bulma/sass/utilities/_all.sass";

// Set your brand colors

// Restyled Base

// Navbar Overrides
$navbar-breakpoint: 0px;
$navbar-item-img-max-height: 3rem;
$navbar-height: 2rem;
$navbar-padding-horizontal: 4.75rem;
$navbar-padding-vertical: .65rem;

// Import only what you need from Bulma
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/form.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";


html {
  overflow-y: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}